<header class="l-navbar__header" #navbarHeader>
  <nav class="l-navbar__navbar">
    <div class="container">
      <div class="l-navbar__content">
        <h1 class="l-navbar__title">
          <a class="l-navbar__logo" routerLink="intro" (click)="closeMenu($event)">
            start framework
          </a>
        </h1>

        <div class="l-navbar__toggler" (click)="toggleMenuHandler()">
          <span class="l-navbar__bar"></span>
          <span class="l-navbar__bar"></span>
          <span class="l-navbar__bar"></span>
        </div>

        <ul class="l-navbar__list" role="list" (click)="closeMenu($event)" #togglerList>
          <li class="l-navbar__item">
            <a class="l-navbar__link" routerLink="about" [routerLinkActive]="'is-current-router'">
              about
            </a>
          </li>

          <li class="l-navbar__item">
            <a class="l-navbar__link" routerLink="portfolio" [routerLinkActive]="'is-current-router'">
              portfolio
            </a>
          </li>

          <li class="l-navbar__item">
            <a class="l-navbar__link" routerLink="contact" [routerLinkActive]="'is-current-router'">
              contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
