<header class="l-navbar__header">
  <nav class="l-navbar__navbar">
    <div class="container">
      <div class="l-navbar__content">
        <a class="l-navbar__logo" routerLink="intro">
          start framework
        </a>

        <ul class="l-navbar__list" role="list">
          <li class="l-navbar__item">
            <a class="l-navbar__link" routerLink="about">
              about
            </a>
          </li>

          <li class="l-navbar__item">
            <a class="l-navbar__link" routerLink="portfolio">
              portfolio
            </a>
          </li>

          <li class="l-navbar__item">
            <a class="l-navbar__link" routerLink="contact">
              contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
