.l-info {
  padding-block: clamp(1.5rem, 10vw, 4rem);
  padding-inline: clamp(1.25rem, 5vw, 3rem);

  background-color: var(--secondary-color);

  color: var(--neutral-50);

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 2rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-size: var(--fs-xl);

    text-transform: uppercase;
  }

  &__list {
    display: flex;
    gap: 0.5rem;
  }

  &__item {
    min-inline-size: 2rem;
    min-block-size: 2rem;

    border: 1px solid var(--neutral-50);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    inline-size: 100%;
    block-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    max-width: 1.15rem;
  }
}

.l-footer {
  padding-block: clamp(1.25rem, 2vw, 2.5rem);

  font-size: var(--fs-sm);
  text-align: center;

  background-color: var(--secondary-color-darker);

  color: var(--neutral-50);
}
