<section class="r-about">
  <header class="r-about__header">
    <h2 class="sr-only">About section</h2>
  </header>

  <div class="r-about__body container">
    <app-title [textColor]="'light'">
      about component
    </app-title>

    <div class="r-about__grid">
      <p class="r-about__text">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including
        HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </p>

      <p class="r-about__text">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including
        HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </p>
    </div>
  </div>
</section>
