<section class="r-intro">
  <header class="r-intro__header">
    <h2 class="sr-only">Welcome to start framework application!</h2>
  </header>

  <div class="r-intro__body container">
    <div class="r-intro__img">
      <img src="images/general/avatar.svg" alt="Avatar of the person!" draggable="false" />
    </div>

    <app-title [textColor]="'light'">
      start framework
    </app-title>

    <ul class="r-intro__list" role="list">
      <li class="r-intro__item">graphic artist</li>
      <li class="r-intro__item">web designer</li>
      <li class="r-intro__item">illustrator</li>
    </ul>
  </div>
</section>
